<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.westnordost.goinfo"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="org.opensidewalks.goinfo.GoInfoCompleteApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name="org.opensidewalks.goinfo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.opensidewalks.goinfo.settings.SettingsActivity"
            android:label="@string/action_settings"
            android:launchMode="singleTask"
            android:parentActivityName="org.opensidewalks.goinfo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- see OsmOAuthDialogFragment.CALLBACK_URL -->
                <data android:scheme="goinfo" android:host="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.opensidewalks.goinfo.about.AboutActivity"
            android:label="@string/action_about"
            android:parentActivityName="org.opensidewalks.goinfo.MainActivity"/>
        <service android:name="org.opensidewalks.goinfo.data.download.QuestDownloadService" />
        <service android:name="org.opensidewalks.goinfo.data.upload.QuestChangesUploadService" />

        <receiver android:name="org.opensidewalks.goinfo.data.osm.upload.ChangesetAutoCloserReceiver" />
        <service android:name="org.opensidewalks.goinfo.data.osm.upload.ChangesetAutoCloserService" />
    </application>

</manifest>
